body {
    background-color: mintcream;
}

.container {
    justify-content: space-between;
    background-color: #e9fff8;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
}

.container .top p {
    color: blue;
}

.container * {
    margin: 0 auto;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
}

.page-link {
    background-color: #007a74;
    color: white;
    padding: 4px;
    border-radius: 3px;
    border: none;
}

.hover:hover {
    background-color: #005d58;
}


.pagination-num {
    color: #007a74;
    text-decoration: none;
    margin: 0 3px;
    padding: 3px;
    border: 2px solid #007a74;
    border-radius: 3px;
}

.pagination-num:hover {
    background-color: #005d58;
    color: white;
}

#pagination-nums {
    margin: 0 3px;
}

.disabled {
    opacity: 0.5;
}

.selected {
    background-color: #007a74;
    color: white;
}

.page {
    position: relative;
    height: 200px;
    display: none;
}

.showing {
    display: block;
}

.first-note {
    position: absolute;
    top: 0;
    left: 0;
}

.second-note {
    position: absolute;
    top: 50%;
    right: 0;
}

#vis-2 .first-note {
    top: 75%;
}

#vis-3 .first-note {
    top: 50%;
    left: 25%;
}

#vis-3 .second-note {
    top: 0;
}

#vis-4 .first-note {
    left: 25%;
}